/* Google font link start */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Google font link close */

/* Universal tag selector style start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
/* Universal tag selector style close */

/* sheard styles start  */
.bg-light {
  background: rgba(255, 144, 14, 0.1);
}
.btn {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: rgb(255, 144, 14);
  border: none;
}

main {
  max-width: 1440px;
  margin: 0px auto;
}
main > section {
  margin: 120px auto auto auto;
}
/* sheard styles close */

/* Navbar style start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  display: flex;
  gap: 30px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(66, 66, 66);
}
.brand {
  color: rgb(19, 19, 19);
  font-size: 2.8rem;
  font-weight: 700;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0px auto;
}
/* Navbar style close */

/* Banner section style start */
.banner-content {
  max-width: 850px;
  margin: 0px auto;
  text-align: center;
}
.banner-title {
  color: rgb(19, 19, 19);
  font-size: 4rem;
  font-weight: 700;
  margin: 60px auto 20px auto;
}
.banner-description {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.banner-btn {
  margin-bottom: 40px;
}
.banner-img {
  width: 100%;
}
/* Banner section style close */

/* features section style start */
.teams {
  display: flex;
  align-items: center;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  margin-left: 130px;
  max-width: 530px;
}
.our-features p {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  margin: 24px auto;
}
/* features section style close */

/* facts section style start */
.facts h2 {
  color: rgb(19, 19, 19);
  font-size: 2.7rem;
  font-weight: 700;
}
.facts p {
  color: rgb(114, 114, 114);
  font-size: 1rem;
  font-weight: 400;
  margin: 20px auto;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card {
  margin: auto auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
}
.fact-card h4 {
  color: rgb(66, 66, 66);
  margin: 10px auto;
  font-size: 45px;
  font-weight: 600;
}
.fact-card h5{
  color: rgb(114, 114, 114);
font-size: 1.25rem;
font-weight: 600;
}
/* facts section style close */

/*responsive media quary start */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .banner-content {
    padding: 15px;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin: 0px;
    padding: 15px;
  }
  .facts-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .fact-card{
    width: 96%;
  }
  .facts h2{
    text-align: center;
   }
   .facts p{
     text-align: center;
   }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .banner-content {
    padding: 15px;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features {
    margin: 0px;
    padding: 15px;
  }
  .facts-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .facts h2{
   text-align: center;
  }
  .facts p{
    text-align: center;
  }
}
/*responsive media quary close*/
